<div class="container-fluid">
    
    {{filtros}}

    <div class="row">

        <div class="col-6">
            <div id="divChart1" class="border border-dark"></div>
        </div>

        <div class="col-6 mb-3">
            <div id="divChart2" class="border border-dark"></div>
        </div>

        <div class="col-6">
            <div id="divChart3" class="border border-dark"></div>
        </div>

        <div class="col-6 mb-3">
            <div id="divChart4" class="border border-dark"></div>
        </div>

        <div class="col-6">
            <div id="divChart5" class="border border-dark"></div>
        </div>

        <div class="col-6">
            <div id="divChart6" class="border border-dark"></div>
        </div>


    </div>

</div>

<style>
    .sidebar-dark-blue .nav-sidebar>.nav-item>.nav-link.active,
    .sidebar-light-blue .nav-sidebar>.nav-item>.nav-link.active {
        background-color: #001f3f;
        color: white;
    }

    @media (min-width: 992px) {

        .sidebar-mini.sidebar-collapse .main-sidebar.sidebar-focused,
        .sidebar-mini.sidebar-collapse .main-sidebar:hover {
            width: 250px;
            margin-right: 15px;
        }
    }

    aside {
        margin-right: 15px;
    }

    #sideBarButton {
        color: white;
    }

    .card-persona {
        font-size: 14px;
        font-family: "Source Sans Pro";
        font-weight: 500;
        color: #505050;
        text-align: center;
    }
</style>