<div class="col-xl-4 col-lg-5 col-md-5 col-sm-12">
  <a href="{{link}}" class="text-dark" id="{{id}}">
    <div class="info-box">
      <span class="info-box-icon {{color-background}} text-white elevation-1"><i
          class="{{icon}}"></i></span>
      <div class="info-box-content">
        <span class="info-box-number">{{label}}</span>
        <span class="info-box-text text-wrap">{{description}}</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </a>
</div>