<div class="col-md-6 col-12 p-1" style="min-width: 300px;">
    <div class="info-box {{cor}} text-white mb-0 h-100">
        <span class="info-box-icon" style="width: 60px;"><i class="{{icone}}"></i></span>

        <div class="info-box-content">
            <span class="info-box-text fw-bold ps-1">{{titulo}}</span>
            <span class="progress-description">
                <div class="row" data-fila="900290">
                    <div class="col-12">
                        <h5 style="font-size: 0.85rem;" class="mb-0 fw-bold ps-1">{{primeiro-subtitulo}}
                        </h5>
                        {{primeiro-valor}}
                    </div>
                    <div class="col-12">
                        <h5 style="font-size: 0.85rem;" class="mb-0 fw-bold ps-1">{{segundo-subtitulo}}</h5>
                        {{segundo-valor}}
                    </div>
                </div>
            </span>
        </div>
        <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
</div>