<div class="col mb-2">
    <div class="small-box bg-navy mb-0 h-100 d-flex align-items-center">
        <div class="inner">
            <h5 class="mb-0">Total </h5>
            <p class="mb-0 fw-bold">{{solicitacao-total}}</p>
        </div>
        <div class="icon icon-small text-light">
            <i class="fas fa-notes-medical" style="font-size: 40px;"></i>
        </div>
    </div>
</div>
<div class="col mb-2">
    <div class="small-box bg-navy mb-0 h-100 d-flex align-items-center">
        <div class="inner">
            <h5 class="mb-0">Em aberto</h5>
            <p class="mb-0 fw-bold">{{solicitacao-aberto}}</p>
        </div>
        <div class="icon icon-small text-light">
            <i class="fas fa-clipboard-user" style="font-size: 40px;"></i>
        </div>
    </div>
</div>
<div class="d-block d-md-none"></div>
<div class="col mb-2">
    <div class="small-box bg-navy mb-0 h-100 d-flex align-items-center">
        <div class="inner">
            <h5 class="mb-0">Em atendimento</h5>
            <p class="mb-0 fw-bold">{{solicitacao-atendimento}}</p>
        </div>
        <div class="icon icon-small text-light">
            <i class="fas fa-clipboard-list-check" style="font-size: 40px;"></i>
        </div>
    </div>
</div>
<div class="col mb-2">
    <div class="small-box bg-navy mb-0 h-100 d-flex align-items-center">
        <div class="inner">
            <h5 class="mb-0">Canceladas</h5>
            <p class="mb-0 fw-bold">{{solicitacao-cancelada}}</p>
        </div>
        <div class="icon icon-small text-light">
            <i class="fas fa-clipboard" style="font-size: 40px;"></i>
        </div>
    </div>
</div>
<div class="d-block d-md-none"></div>
<div class="col mb-2">
    <div class="small-box bg-navy mb-0 h-100 d-flex align-items-center">
        <div class="inner">
            <h5 class="mb-0">Liberadas</h5>
            <p class="mb-0 fw-bold">{{solicitacao-liberada}}</p>
        </div>
        <div class="icon icon-small text-light">
            <i class="fas fa-clipboard-check" style="font-size: 40px;"></i>
        </div>
    </div>
</div>