<div class="input-group mt-0">
  <div class="input-group-prepend">
    <span class="input-group-text bg-white border-0" style="padding-left: 0.29em; padding-right: 0.35rem; height: {{height}}px;">
      <input class="form-check-input ms-0 position-relative adicional-text-radio disabled-visible" type="radio" name="{{name}}" value="{{value}}" {{disabled}} {{checked}}>
      <span class="ms-2">{{resposta-holder}}</span>
    </span>
  </div>
  <input type="text" class="form-control adicional-text border-top-0 border-left-0 border-right-0 rounded-0 ps-0"  style="height: {{height}}px;" name="{{name}}" id="{{id}}" value="{{resposta}}" {{disabled}}>
</div>