<div class="modal fade" id="createPergunta" tabindex="-1" role="dialog" aria-labelledby="createPerguntaLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createPerguntaLabel">Cadastrar pergunta</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="pergunta-nome" class="col-form-label">Nome</label>
              <input type="text" name="nome-pergunta" class="form-control" id="pergunta-nome" required>
            </div>
            <div class="form-group">
            <label for="pergunta-categoria" class="col-form-label">Categoria</label>
              <select class="form-control" id="pergunta-categoria" name="categoria-pergunta" required>
                <option value="" selected disabled>Selecione uma categoria</option>
                {{categorias}}
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-create-pergunta">Criar</button>
        </div>
      </div>
    </div>
  </div>