<div class="modal fade" id="createUnidade" tabindex="-1" role="dialog" aria-labelledby="createPerguntaLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createUnidadeLabel">Cadastrar unidade</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="unidade-nome" class="col-form-label">Nome</label>
                        <input type="text" name="nome-unidade" class="form-control" id="unidade-nome" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-create-unidade">Criar</button>
            </div>
        </div>
    </div>
</div>