<div id="divPergunta"></div>
<form onsubmit="event.preventDefault()" class="form-perguntas">
    <button type='button' name='submit' class='btn d-flex btn-primary btn-add-pergunta ms-auto'><span>Adicionar</span>
        <div class='icon ml-2'><i class='fal fa-plus'></i></div>
    </button>
    <table id="table-perguntas" class="table table-borderless" role="grid" aria-describedby="table_recursos">
        <thead>
            <tr role="row">
                <th style="width: 2%;">Status</th>
                <th class="w-50">Nome</th>
                <th class="w-50">Categoria</th>
            </tr>
        </thead>
        <tbody>
            {{perguntas}}
        </tbody>
    </table>
</form>