<tr>
    <td class="px-0 py-1">
        <div class="custom-control custom-switch text-center" style="padding-left: 2rem !important;">
            <input type="checkbox" class="custom-control-input change-status-pergunta" id="customSwitchPergunta{{id}}"
                {{status_check}}>
            <label class="custom-control-label font-weight-normal" for="customSwitchPergunta{{id}}"></label>
        </div>
    </td>
    <td class="px-0 py-1">
        <div class="input-group">
            <input type="hidden" name="pergunta-id[]" value="{{id}}" class="form-control" data-status="{{status}}"
                disabled />
            <input type="text" name="pergunta-nome[]" value="{{pergunta}}"
                class="form-control border-right-0 rounded-0 rounded-left" data-status="{{status}}" disabled />
        </div>
    </td>
    <td class="px-0 py-1">
        <div class="input-group">
            <select style="-webkit-user-select:auto !important; user-select: auto !important;"
                class="form-control border-left-0 rounded-0 rounded-right" name="pergunta-categoria[]"
                data-status="{{status}}" disabled>
                {{categorias}}
            </select>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary bg-danger btn-cancel-pergunta border-0" type="button"><i
                        class="fas fa-lock"></i></button>
            </div>
        </div>
    </td>
</tr>