<table id="painel" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="text-center" scope="col"><i class="icofont-clock-time icofont-2x"></i></th>
            <th class="text-center" scope="col"><i class="icofont-patient-bed icofont-2x"></i></th>
            <th class="text-center" scope="col-3"><i class="icofont-users-alt-3 icofont-2x"></i></th>
            <th class="text-center" scope="col"><i class="icofont-operation-theater icofont-2x"></i></th>
            <th class="text-center" scope="col"><i class="icofont-surgeon icofont-2x"></i></th>
            <th class="text-center" scope="col"><i class="icofont-card icofont-2x"></i></th>
            <th class="text-center" scope="col"><i class="icofont-hospital icofont-2x"></i></th>
            <th class="text-center" scope="col"><i class="icofont-paper icofont-2x"></i></th>
            <th class="text-center" scope="col"><i class="icofont-blood icofont-2x"></i></th>
            <th class="text-center" scope="col"><i class="icofont-heartbeat icofont-2x"></i></th>
            <th class="text-center" scope="col"><i class="icofont-xray icofont-2x"></i></th>
        </tr>
    </thead>
    <tbody>
        {{rows}}
    </tbody>
</table>