  <div class="row mx-0 my-1 graficos card-azul-hrg card-outline">
    <div class="col-md-6 col-sm-12 col-12 mt-1">
      <div id="pedidos-setores" style="min-height: 300px;"></div>
    </div>
    <div class="col-md-6 col-sm-12 col-12 mt-1">
      <div id="pedidos-mes" style="min-height: 300px;"></div>
    </div>
  </div>

  <div class="row mx-0 my-3 graficos card-azul-hrg card-outline">
    <div class="col-md-6 col-sm-12 col-12 mt-1">
      <div id="pedidos-semana" style="min-height: 300px;"></div>
    </div>
    <div class="col-md-6 col-sm-12 col-12">
      <div id="pedidos-hora" style="min-height: 300px;"></div>
    </div>
  </div>
<script src="{{URL}}/resources/js/customs/inutri/dashboard_datapoints.js"></script>