<div class="card mb-2 col-md-10 col-12 col-sm-12 col-lg-10 col-xl-10 mx-auto">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Setor</th>
          <th class="text-center">Pendentes</th>
          <th class="text-center">Em progresso</th>
          <th class="text-center">Prontos</th>
          <th class="text-center">Em entrega</th>
          <th class="text-center">Entregues</th>
          <th class="text-center">Cancelados</th>
          <th class="text-center">Total</th>
        </tr>
      </thead>
      <tbody>
        {{linhas-tabela}}
      </tbody>
    </table>
  </div>
</div>