<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 9999999">
  <div id="welcome-toast" class="toast align-items-center text-dark bg-white" role="alert" aria-live="assertive"
    aria-atomic="true" data-bs-autohide="false">
    <div class="toast-header bg-light">
      <img src="{{URL}}/resources/img/central-servicos.png" width="100px" class="rounded me-2 me-auto" alt="...">
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Bem vindo a Central de Serviços!
      <br>
      Aqui você encontrará todas as aplicações disponíveis, basta escolher um tipo de usuário e seguir as orientações.
    </div>
  </div>
</div>
<div id="ouvidoria-container"></div>
<div class="d-flex w-100 h-100 flex-column justify-content-between">
  <div class="bg-white">
    <div class="card-body">
      <div class="text-center">
        <img src="{{URL}}/resources/img/central-servicos.png" style="width: 200px;" alt="Central de Serviço">
      </div>
    </div>
  </div>

  <div style="margin-top: 50px;">
    <div class="d-flex flex-row flex-wrap justify-content-center">

      <div class="card col-xxl-1 col-xl-3 col-md-3 col-lg-3 col-sm-8 col-10 bg-card-login mx-2"
        style="max-width: 325px">
        <div class="card-header text-center">
          <img src="{{URL}}/resources/img/man-icon-png.png" class="card-img-top mx-auto mt-3 bg-white rounded-circle"
            alt="Paciente" style="width: 150px;">
        </div>
        <div class="card-body">
          <h5 class="card-title font-weight-bold">Paciente</h5>
          <p class="card-text" style="max-width: 250px;">Caso você seja um paciente clique no botão abaixo.</p>
          <div class="text-center">
            <a href="{{URL}}/home/paciente" class="btn w-100 rounded-0 text-light button-card-login">Clique Aqui!</a>
          </div>
        </div>
      </div>

      <div class="card col-xxl-1 col-xl-3 col-md-3 col-lg-3 col-sm-8 col-10 bg-card-login mx-2"
        style="max-width: 325px">
        <div class="card-header text-center">
          <img src="{{URL}}/resources/img/func-icon-png.png" class="card-img-top mx-auto mt-3 bg-white rounded-circle"
            alt="Paciente" style="width: 150px;">
        </div>
        <div class="card-body">
          <h5 class="card-title font-weight-bold">Funcionário</h5>
          <p class="card-text" style="max-width: 250px;">Caso você seja um funcionário clique no botão abaixo.</p>
          <div class="text-center">
            <a href="{{URL}}/login" class="btn w-100 rounded-0 text-light button-card-login">Clique Aqui!</a>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row justify-content-center">
      <div class="col-xxl-8 col-xl-7 col-md-7 col-lg-7 col-sm-9 col-11" style="max-width: 750px">
        <div class="col-12 px-3">
          <h2 class="text-between-line"><span>ou acesse</span></h2>
        </div>
        <div class="col-12 px-3 mt-2 mb-2">
          <a href="#" id="ouvidoria-modal" class="btn btn-block btn-azul-esverdeado rounded-0"><i
              class="fas fa-megaphone"></i> Ouvidoria</a>
        </div>
	<div class="col-12 px-3 mt-2 mb-2">
        	<a href="http://10.1.1.31/centralservicos/agenda" target="_blank" id="agenda-ramais" class="btn btn-block rounded-0" style="background-color: #759eeb !important; color: white !important">
        		<i class="fas fa-phone fa-flip-horizontal"></i> Agenda de Ramais</a>
        </div>
      </div>
    </div>
  </div>
</div>