<div id="ouvidoria-container"></div>
<div id="monps-container"></div>
<div>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="margin-left: 0 !important;">
    <!-- Content Header (Page header) -->
    <div class="content-header" style="border-bottom: solid 1px gray;">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0"><i class="fad fa-users-medical"></i> Central do Paciente</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div>
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="col-md-12 d-flex">
          <div class="col-md-9 mt-4 mx-auto">
            <div class="row justify-content-left itens-container">

              <div class="col-xl-4 col-lg-5 col-md-5 col-sm-12">
                <a href="{{URL}}/avasis/avaliar" class="text-dark">
                  <div class="info-box">
                    <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-star"></i></span>
                    <div class="info-box-content">
                      <span class="info-box-number">Avasis</span>
                      <span class="info-box-text">Avaliação de Serviços</span>
                    </div>
                    <!-- /.info-box-content -->
                  </div>
                  <!-- /.info-box -->
                </a>
              </div>

              <div class="col-xl-4 col-lg-5 col-md-5 col-sm-12">
                <a href="{{URL}}/agenda" class="text-dark">
                  <div class="info-box">
                    <span class="info-box-icon bg-primary elevation-1"><i class="fas fa-calendar-day"></i></span>
                    <div class="info-box-content">
                      <span class="info-box-number">Ramais Úteis</span>
                      <span class="info-box-text">Agenda</span>
                    </div>
                    <!-- /.info-box-content -->
                  </div>
                  <!-- /.info-box -->
                </a>
              </div>

              <!-- <div class="col-xl-4 col-lg-5 col-md-5 col-sm-12">
                <a href="#" class="text-dark">
                  <div class="info-box">
                    <span class="info-box-icon bg-azul-escuro text-light elevation-1"><i
                        class="fas fa-megaphone"></i></span>
                    <div class="info-box-content">
                      <span class="info-box-number">Ouvidoria</span>
                      <span class="info-box-text">Fale aqui</span>
                    </div>
                     /.info-box-content 
                  </div>
                   /.info-box 
                </a>
              </div> -->

              <div class="col-xl-4 col-lg-5 col-md-5 col-sm-12">
                <a href="https://api.whatsapp.com/send?phone=55084996675758" class="text-dark">
                  <div class="info-box">
                    <span class="info-box-icon bg-success text-light elevation-1"><i class="fab fa-whatsapp"></i></span>
                    <div class="info-box-content">
                      <span class="info-box-number">Whatsapp Ouvidoria</span>
                      <span class="info-box-text">Contato via Whatsapp</span>
                    </div>
                    <!-- /.info-box-content -->
                  </div>
                  <!-- /.info-box -->
                </a>
              </div>

              <div class="col-xl-4 col-lg-5 col-md-5 col-sm-12">
                <a href="https://api.whatsapp.com/send?phone=55084994195006" class="text-dark">
                  <div class="info-box">
                    <span class="info-box-icon bg-success elevation-1"><i class="fab fa-whatsapp"></i></span>
                    <div class="info-box-content">
                      <span class="info-box-number">Whatsapp Agendamento</span>
                      <span class="info-box-text">Agende pelo Whatsapp</span>
                    </div>
                    <!-- /.info-box-content -->
                  </div>
                  <!-- /.info-box -->
                </a>
              </div>

              <div class="col-xl-4 col-lg-5 col-md-5 col-sm-12">
                <a href="{{URL}}/sisnot" class="text-dark">
                  <div class="info-box">
                    <span class="info-box-icon bg-azul-medio2 elevation-1 text-white"><i class="fad fa-question"></i></span>
                    <div class="info-box-content">
                      <span class="info-box-number">SisNot</span>
                      <span class="info-box-text">Notifique incidentes</span>
                    </div>
                    <!-- /.info-box-content -->
                  </div>
                  <!-- /.info-box -->
                </a>
              </div>

              <div class="col-xl-4 col-lg-5 col-md-5 col-sm-12">
                <a href="{{URL}}/inutri/paciente" class="text-dark">
                  <div class="info-box">
                    <span class="info-box-icon bg-laranja elevation-1"><i class="fal fa-soup mr-1"></i></span>
                    <div class="info-box-content">
                      <span class="info-box-number">iNutri</span>
                      <span class="info-box-text">Sistema da Nutrição</span>
                    </div>
                    <!-- /.info-box-content -->
                  </div>
                  <!-- /.info-box -->
                </a>
              </div>

              <div class="col-xl-4 col-lg-5 col-md-5 col-sm-12">
                <a href="#" id="monps-modal" class="text-dark">
                  <div class="info-box">
                    <span class="info-box-icon bg-purple elevation-1">MP</span>
                    <div class="info-box-content">
                      <span class="info-box-number">MonPS</span>
                      <span class="info-box-text">Verifique sua situação</span>
                    </div>
                    <!-- /.info-box-content -->
                  </div>
                  <!-- /.info-box -->
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
  </div><!-- /.container-fluid -->
</div>