<div class="{{class}}" style="{{style}}">
    <div id="{{tipo}}" class="card text-white {{time}} mb-2" style="max-width: 100%;">
        <div class="card-header">
            <h1 class="card-title card_titulo">

                <img id="{{img-id}}" src="{{img}}">

                &nbsp;

                {{titulo-captalize}}

            </h1>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div id="" class="card-title valor">
                        <!-- <?php echo  round($_classificacao_pacientes); ?> -->
                        {{numero-pacientes}}
                    </div>
                    <div class="card-title card_rodape">
                        Paciente(s)
                    </div>
                </div>
                <div class="col">
                    <div id="" class="card-title valor">
                        {{tempo}}
                        <!-- <?php echo round($_classificacao_tempo); ?> -->
                    </div>

                    <div class="card-title card_rodape">
                        Minuto(s)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>