<div class="{{class}}">
    <div id="{{tipo}}" class="card text-white {{time}} mb-2" style="max-width: 100%;">
        <div class="card-header">
            <h1 class="card-title card_titulo">

                <img id="{{img-id}}" src="{{img}}">

                &nbsp;

                {{titulo-captalize}}

            </h1>
        </div>

        <div class="card-body">
            <div class="row">
                <div id="subtitulo" class="col">1º Atendimento</div>
                <div id="subtitulo" class="col">Reavaliação</div>
            </div>

            <div class="row">
                <div class="col">
                    <div id="" class="card-title valor">
                        {{primeiro-atendimento-pessoas}}
                    </div>

                    <div class="card-title card_rodape">
                        Paciente(s)
                    </div>
                </div>
                <div class="col">
                    <div id="" class="card-title valor">
                        {{primeiro-atendimento-tempo}}
                    </div>

                    <div class="card-title card_rodape">
                        Minuto(s)
                    </div>
                </div>
                <div class="col">
                    <div id="" class="card-title valor">
                        {{reavaliacao-pessoas}}
                    </div>

                    <div class="card-title card_rodape">
                        Paciente(s)
                    </div>
                </div>
                <div class="col">
                    <div id="" class="card-title valor">
                        {{reavaliacao-tempo}}
                    </div>

                    <div class="card-title card_rodape">
                        Minuto(s)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>