<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta http-equiv="refresh" content="60">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../papem_recep2/img/favicon.ico" />
    <title>Papem - V2</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{URL}}/resources/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{URL}}/resources/css/customs/espera/estilo.css">

</head>

<body style="background-color: #f3f5f8;">

    <div class="container-fluid">

        <div class="row text-center">
            {{cards}}
        </div>
    </div>

</body>
<!-- Scripts Js -->
<script> const _URL = '{{URL}}'; </script>
<script src="{{URL}}/resources/js/jquery/jquery.min.js"></script>

</html>