<div class="col-md-4">
    <div class="small-box mb-0 bg-{{color}}">
        <h1 class="small-box-footer" style="background: rgba(0, 0, 0, 0.15) !important;
            color: #fff !important;">{{title}}</h1>
        <div class="inner">
            <h2 class="text-center">Aguardando atendimento</h2>
            <h1 class="text-center" style="font-size:19rem;">{{pacientes}}</h1>
            <h3 class="text-center">Paciente(s)</h3>
        </div>
        <h3 class="small-box-footer" style="background: rgba(0, 0, 0, 0.15) !important;
            color: #fff !important;">{{time}}</h3>
    </div>
</div>