<div class="sidebar-collapse layout-fixed" style="height: auto;">
    <div class="wrapper">
        <div class="content-wrapper ml-0 vh-100">
            <div class="content-header bg-white shadow-sm py-1">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-12 text-center">
                            <a href="{{URL}}">
                                <img src="{{URL}}/resources/img/Logo.png" style="width: 4%" alt="Hospital Rio Grande Logo">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content mt-2">
                <div class="container-fluid">
                    <div class="row">
                        {{cards}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>