<a href="#" class="text-secondary d-block" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Pausar chamado"
    data-acao="pausar"><i class="fas fa-pause"></i></a>
<a href="#" class="text-info d-block" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Transferir chamado"
    data-acao="transferir"><i class="fas fa-exchange-alt"></i></a>
<a href="#" class="text-success d-block" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Finalizar chamado"
    data-acao="finalizar"><i class="fas fa-check"></i></a>