<a href="#" class="text-primary d-block" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Continuar chamado"
    data-acao="continuar"><i class="fas fa-play"></i></a>
<a href="#" data-id="{{id}}" class="text-info d-block" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Informações do chamado"
    data-acao="info" data-tipo="pausado"><i class="fas fa-info-circle"></i></a>
<a href="#" class="text-success d-block" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Finalizar chamado"
    data-acao="finalizar"><i class="fas fa-check"></i></a>