<div class="card-body">
    <fieldset class="col-12">
        {{group_beds}}
        <div class="form-group row mt-3">
            <div class="col-6">
                <div class="form-group row">
                    <div class="col-6">
                        {{prepareBed}}
                    </div>
                    <div class="col-6">
                        {{reserveBed}}
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group row">
                    <div class="col-6 offset-12">
                        {{editSolicitation}}
                    </div>
                    <div class="col-6">
                        {{cancelOrReserveSolicitation}}
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>