<div class="card-body">
    <fieldset class="col-12">
        <div class="form-group row mt-3">
            <div class="col-6">
                <div class="form-group row">
                    <div class="col-6 offset-12">
                    </div>
                    <div class="col-6 offset-12">
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group row">
                    <div class="col-6">
                        <button id="gleitos-confirmar-edicao" class="btn btn-navy btn-sm w-100">Confirmar Edição</button>
                    </div>
                    <div class="col-6">
                        <button id="gleitos-cancelar-edicao" class="btn btn-danger btn-sm w-100">Cancelar Edição</button>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>