<div class="card-body">
    <fieldset class="col-12">
        {{group_bed_selected}}
        <div class="form-group row mt-3">
            <div class="col-6">
                <div class="form-group row">
                    <div class="col-6">
                        {{reserveButton}}
                    </div>
                    <div class="col-6">
                        {{changeBedButton}}
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group row">
                    <div class="col-6 offset-12">
                        {{cancelPreparationButton}}
                    </div>
                    <div class="col-6">
                        {{finishReserveButton}}
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>