<div class="form-group row">
    <div class="col-6">
        <div class="form-group row">
            <div class="col-12">
                <label for="gleitos-unidade-internacao" class="col-form-label pb-0">Unidade de
                    internação</label>
                <select name="leito" id="gleitos-unidade-internacao" class="form-control" disabled>
                    {{unidade-internacao}}
                </select>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="form-group row">
            <div class="col-12">
                <label for="gleitos-leitos" class="col-form-label pb-0">Leito selecionado</label>
                <select name="leito" id="gleitos-leitos" class="form-control" disabled>
                    {{leito-internacao}}
                </select>
            </div>
        </div>
    </div>
</div>