<tr class="{{negrito}}">
    <td class="py-1">{{setor}}</td>
    <td class="text-center py-1">{{leitos}}</td>
    <td class="text-center py-1">{{pacientes}}</td>
    <td class="text-center py-1">{{reservados}}</td>
    <td class="text-center py-1">{{vagas}}</td>
    <td class="text-end py-1">
        <div class="progress progress-xs justify-content-end">
            <div class="progress-bar progress-bar-success {{cor-ocupacao}}" style="width: {{ocupacao}}%"></div>
        </div>
        <span class="badge {{cor-ocupacao}}">{{ocupacao}}%</span>
    </td>
</tr>