<div class="card-footer">
    <div class="row">
        <div class="col-sm-3 col-6">
            <div class="description-block border-right">
                <h5 class="description-header">{{pediatria}}</h5>
                <span class="description-text">Pediatria</span>
            </div>

        </div>

        <div class="col-sm-3 col-6">
            <div class="description-block border-right">
                <h5 class="description-header">{{obstetricia}}</h5>
                <span class="description-text">Obstetrícia</span>
            </div>

        </div>
        <div class="col-sm-3 col-6">
            <div class="description-block border-right">
                <h5 class="description-header">{{outros}}</h5>
                <span class="description-text">Outros Atend.</span>
            </div>

        </div>
        <div class="col-sm-3 col-6">
            <div class="description-block">
                <h5 class="description-header">{{total}}</h5>
                <span class="description-text">Todos</span>
            </div>

        </div>
    </div>

</div>