<div class="card-footer">
    <div class="row">
        <div class="col-sm-3 col-6">
            <div class="description-block border-right">
                <h5 class="description-header">{{cardiologia}}</h5>
                <span class="description-text">Cardiologia</span>
            </div>

        </div>

        <div class="col-sm-3 col-6">
            <div class="description-block border-right">
                <h5 class="description-header">{{clinico-geral}}</h5>
                <span class="description-text">Clinico Geral</span>
            </div>

        </div>

        <div class="col-sm-3 col-6">
            <div class="description-block border-right">
                <h5 class="description-header">{{ortopedia}}</h5>
                <span class="description-text">Ortopedia</span>
            </div>

        </div>

        <div class="col-sm-3 col-6">
            <div class="description-block">
                <h5 class="description-header">{{total}}</h5>
                <span class="description-text">Todos</span>
            </div>

        </div>
    </div>

</div>