<div class="col-xl-4 col-lg-5 col-md-5 col-sm-12">
  <a href="inutri/solicitar_refeicao/terceiros" class="text-dark">
    <div class="info-box">
      <span class="info-box-icon bg-indigo elevation-1"><i class="fas fa-clipboard-list-check"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Solicitar Refeicão</span>
        <span class="info-box-number">Para terceiros</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </a>
</div>