<div class="hold-transition sidebar-mini sidebar-collapse layout-footer-fixed layout-navbar-fixed layout-fixed ">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="margin-left: 0 !important;">
        <!-- Content Header (Page header) -->
        <div class="content-header" style="border-bottom: solid 1px gray;">
            <div class="container-fluid">
                <div class="row py-1">
                    <div class="col-sm-6">
                        <h1 class="m-0"><i class="fas fa-line-columns"></i> Gestão de Leitos - Painel de leitos</h1>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div>
        </div>

        <section class="my-1 container shadow-none">
            <div class="row pt-2">
                {{cards}}
            </div>
            <div id="gleitos-panel-beds-container" class="row">
                {{info-setores}}
            </div>
        </section>
    </div>
</div>