<a href="javascript:void(0)" id="{{code-leito}}" class="opcao-leito col-6 col-sm-6 col-md-4 col-lg-2 col-xl-1 p-0">
    <div class="m-1 {{background}} rounded py-1 d-flex flex-column justify-content-center align-items-center" style="{{stylize}} height: 4.3rem;">
        <div class="px-0">
            <div class="text-center">
                <i class="{{icon}}"></i>
                <h6 class="my-0 text-center">
                    {{nome}}
                </h6>
            </div>
        </div>
    </div>
</a>