<div class="row mt-3 align-items-center">

    <div class="col-4">

        <div class="input-group">
            
            <input
                name="inDateInput" 
                type="date" 
                class="form-control">

            <input 
                name="inHourInput"
                type="time" 
                class="form-control">
        </div>

    </div>

    <div class="col-7">
        <textarea name="taAcao" type="text" class="form-control" autocomplete="off" placeholder="Digite a ação tomada"></textarea>
    </div>

    <div class="col-1">
        <button type="button" name="btnRemoverAcao" class="btn btn-danger">X</button>
    </div>

</div>

