<caption id="caption" style="caption-side: top;display: flex;padding-top: 0;font-size: 14px;"
    class="text-uppercase pb-0 mr-0">
    <div class="collapse show">
        <ul class="d-flex flex-wrap row text-right" style="list-style-type: none;justify-content: right;">
            <li class="mt-2 col-12 col-md-5">
                <span class='badge bg-primary'>ABER</span>
                <label>Exames sem resultado</label>
            </li>
            <li class="mt-2 col-12 col-md-5">
                <span class='badge bg-warning'>EXEC</span>
                <label>Exames em execução</label>
            </li>
            <li class="mt-2 col-12 col-md-5">
                <span class='badge bg-success'>LIB</span>
                <label>Exames com resultado liberado</label>
            </li>
            <li class="mt-2 col-12 col-md-5">
                <span class='badge bg-danger'>ERRO</span>
                <label>Erro de integração</label>
            </li>
        </ul>
    </div>
</caption>