<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <h3>Hoje</h3>
                <span id="total">0 Solicitações</span>
            </div>
            <div class="col-2">
                <h3>Tempo médio</h3>
                <span id="tempo">0 minutos</span>
            </div>
            <div class="col-2">
                <h3>Não atendidas</h3>
                <span id="naoAtendidos">0 Solicitações</span>
            </div>
            <div class="col-2">
                <h3>Em atendimento</h3>
                <span id="emAtendimento">0 Solicitações</span>
            </div>
            <div class="col-2">
                <h3>Finalizados</h3>
                <span id="finalizados">0 Solicitações</span>
            </div>
            <div class="col-2">
                <h3>Cancelados</h3>
                <span id="cancelados">0 Solicitações</span>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <h3>Últimos 7 dias</h3>
                <span id="ultimaSemana">0 Solicitações</span>
            </div>
            <div class="col-2">
                <h3>Mês atual</h3>
                <span id="mesAtual">0 minutos</span>
            </div>
        </div>
    </div>
</div>
<main class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <div class="col-md-12 unidade min-height-350">
                <div class="titulo">
                    Solicitações por Hora (Últimos 15 dias)
                </div>
                <div class="col-md-12">
                    <div id="chartHora" style="height: 290px; width: 100%"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="col-md-12 unidade min-height-350">
                <div class="titulo">
                    Solicitações por Dia da Semana (15 dias)
                </div>
                <div class="col-md-12">
                    <div id="chartDiaSemana" style="height: 290px; width: 100%"></div>
                </div>
            </div>
        </div>
    </div>
</main>