<!-- Selects da unidade e leito novos (alterar reserva) -->
<fieldset class="col-md-12 col-xs-1 col-sm-12 text-right d-none">
    <div id="testando" class="form-row">
    </div>
    <div class="form-row">
        <div class="col-8 form-group">
            <label>Nova Unidade</label>
            <select class="form-control" id="slNovaUni" name="slNovaUni" disabled>
                <option value="">Selecione uma Unidade:</option>
            </select>
        </div>
        <div class="col-4 form-group">
            <label>Novo Leito</label>
            <select class="form-control" id="slNovoLei" name="slNovoLei" disabled>
                <option value="">Selecione um Leito:</option>
            </select>
        </div>
    </div>
</fieldset>

<!-- Botão de alterar reserva -->
<fieldset class="col-md-12 col-xs-1 col-sm-2 mt-2 text-right">
    <input id="btAlterarReserva" class="btn btn-success" type="button" name="btAlterarReserva"
        value="Alterar Leito Liberado"></input>
    <button id="BTAlterarLeitoReservaInfo" name="InfoBT" type="button" class="btn btn-outline-info">Info</button>
</fieldset>

<!-- Botão de confirmar alterar reserva -->
<fieldset class="col-md-12 col-xs-1 col-sm-2 mt-2 text-right d-none">
    <input id="btConfirmarAlterarReserva" class="btn btn-success" type="button" name="btAlterarReserva"
        value="Confirmar"></input>
</fieldset>

<!-- Botão de cancelar alterar reserva -->
<fieldset class="col-md-12 col-xs-1 col-sm-2 mt-2 text-right d-none">
    <input id="btCancelarAlterarReserva" class="btn btn-danger" type="button" name="btAlterarReserva"
        value="Cancelar"></input>
</fieldset>