<div class="col mb-2">
    <div class="small-box bg-azul-esverdeado text-white mb-0 h-100 d-flex align-items-center">
        <div class="inner">
            <h5 class="mb-0" id="leitosTotal">Leitos - {{total-leitos}}</h5>
            <p class="mb-0 fw-bold" id="leitosHRG">HRG - {{hrg-leitos}}</p>
            <p class="mb-0 fw-bold" id="leitosMaternidade">Maternidade - {{maternidade-leitos}}</p>
        </div>
        <div class="icon icon-small ">
            <i class="fas fa-bed"></i>
        </div>
    </div>
</div>
<div class="col mb-2">
    <div class="small-box bg-azul-esverdeado text-white mb-0 h-100 d-flex align-items-center">
        <div class="inner">
            <h5 class="mb-0" id="pacientesTotal">Pacientes - {{total-pacientes}}</h5>
            <p class="mb-0 fw-bold" id="pacientesHRG">HRG - {{hrg-pacientes}}</p>
            <p class="mb-0 fw-bold" id="pacientesMaternidade">Maternidade - {{maternidade-pacientes}}</p>
            <p class="mb-0 fw-bold" id="pacientesRN">Recém-nascidos - {{maternidade-recem-nascidos}}</p>
        </div>
        <div class="icon icon-small">
            <i class="fas fa-procedures"></i>
        </div>
    </div>
</div>
<div class="d-block d-md-none"></div>
<div class="col mb-2">
    <div class="small-box bg-azul-esverdeado text-white mb-0 h-100 d-flex align-items-center">
        <div class="inner">
            <h5 class="mb-0" id="ocupacaoTotal">Ocupação - {{total-ocupacao}}<small class="d-inline">%</small></h5>
            <p class="mb-0 fw-bold" id="ocupacaoHRG">HRG - {{hrg-ocupacao}}<small class="d-inline">%</small></p>
            <p class="mb-0 fw-bold" id="ocupacaoMaternidade">Maternidade - {{maternidade-ocupacao}}<small class="d-inline">%</small></p>
        </div>
        <div class="icon icon-small">
            <i class="fas fa-globe"></i>
        </div>
    </div>
</div>
<div class="col mb-2">
    <div class="small-box bg-azul-esverdeado text-white mb-0 h-100 d-flex align-items-center">
        <div class="inner">
            <h5 class="mb-0">Altas</h5>
            <p class="mb-0 fw-bold" id="ultimas24">Últimas 24h - {{altas-24h}}</p>
            <p class="mb-0 fw-bold" id="ultimas12">Últimas 12h - {{altas-12h}}</p>
        </div>
        <div class="icon icon-small">
            <i class="fas fa-hospital-user"></i>
        </div>
    </div>
</div>