<div class="flex-row col-6 d-flex align-items-center">
    <label for="initialInterval" class="form-label col-2">De </label>
    <input class="form-control col-10" type="date" id="initialInterval" value="{{initial-interval}}" max="{{final-interval}}">
</div>
<div class="flex-row col-6 d-flex align-items-center">
    <label for="finalInterval" class="form-label col-2"> Até </label>
    <input class="form-control col-10" type="date" id="finalInterval" value="{{final-interval}}" min="{{initial-interval}}">
</div>