{{has-other-locker}}
<div class="row w-100 text-center">
    <div class="col-6">
        <div class="input-group mb-2">
            <i class="input-group-text fas fa-user" id="fa-user"></i>
            <input value="{{nome}}" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="fa-user">
        </div>
    </div>
    <div class="col-6">
        <div class="input-group mb-2">
            <i class="input-group-text fas fa-id-card" id="fa-id-card"></i>
            <input value="{{matricula}}" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="fa-id-card">
        </div>
    </div>
    <div class="col-12">
        <div class="input-group mb-2">
            <i class="input-group-text fas fa-hospital" id="fa-hospital"></i>
            <input value="{{setor}}" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="fa-hospital">
        </div>
    </div>
</div>

