<div class="hold-transition sidebar-mini sidebar-collapse layout-footer-fixed layout-navbar-fixed layout-fixed ">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="margin-left: 0 !important;">
    <!-- Content Header (Page header) -->
    <div class="content-header " style="border-bottom: solid 1px gray;">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0"><i class="fas fa-play"></i> Avasis</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div>
    </div>

    <section class="mt-3 container shadow-none">
      <div class="row">

        <div class="px-0 col-xl-4 col-lg-5 col-md-5 col-sm-12">
          <a style="cursor: pointer;" class="text-dark" id="start_quest">
            <div class="info-box">
              <span class="info-box-icon bg-success elevation-1"><i class="fas fa-play"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Iniciar</span>
                <span class="info-box-number">Questionário</span>
              </div>
            </div>
          </a>
        </div>

        <div class="col-xl-4 col-lg-5 col-md-5 col-sm-12">
          <a href="{{URL}}/avasis/gerenciador" class="text-dark">
            <div class="info-box">
              <span class="info-box-icon bg-blue elevation-1"><i class="fas fa-clipboard-list-check"></i></span>
              <div class="info-box-content">
                <span class="info-box-number">Gerenciar</span>
                <span class="info-box-text text-wrap">Questionários</span>
              </div>
            </div>
          </a>
        </div>

        <div class="px-0 col-xl-4 col-lg-5 col-md-5 col-sm-12">
          <a href="{{URL}}/avasis/relatorios" class="text-dark">
            <div class="info-box">
              <span class="info-box-icon bg-teal elevation-1"><i class="fas fa-chart-line"></i></span>
              <div class="info-box-content">
                <span class="info-box-number">Gerenciar</span>
                <span class="info-box-text text-wrap">Relatórios</span>
              </div>
            </div>
          </a>
        </div>

      </div>
    </section>
  </div>
</div>
<div id="start"></div>