<div class="modal fade" id="sosmaqueiro-transferir-modal" data-bs-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="sosmaqueiro-transferir-modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sosmaqueiro-transferir-modalLabel">Selecione um maqueiro para transferir
                </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="sosmaqueiro-select-transferencia" class="col-form-label">Maqueiros</label>
                        <select id="sosmaqueiro-select-transferencia" data-placeholder="Selecione um maqueiro">
                            {{options}}
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-cancelar" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary btn-transferir">Transferir</button>
            </div>
        </div>
    </div>
</div>