<div
  class="hold-transition sidebar-mini sidebar-collapse layout-footer-fixed layout-navbar-fixed layout-fixed accent-blue">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="margin-left: 0 !important;">
    <!-- Content Header (Page header) -->
    <div class="content-header" style="border-bottom: solid 1px gray;">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0"><i class="fad fa-question"></i> NotSis</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div>
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="col-md-12 d-flex">
          <div class="col-md-9 mt-4 mx-auto">
            <div class="row justify-content-left itens-container">
              <h4 class="mb-3 ps-1">Falha relacionada a(o):</h4>
              {{incidentes}}
            </div>
          </div>
        </div>
      </div>
    </section>
  </div><!-- /.container-fluid -->
</div>