<meta http-equiv="refresh" content="30">
<title>{{title}}</title>
<link rel="stylesheet" href="{{URL}}/resources/css/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link rel="stylesheet" href="{{URL}}/resources/css/adminlte/adminlte.min.css">
<script src="{{URL}}/resources/js/adminlte/adminlte.js"></script>
{{content}}