<div class="row mx-0 my-1 chart-monexm card-azul-hrg card-outline">
  <div class="col-md-6 col-sm-12 col-12 mt-1">
    <div id="procedimentos-mes" style="min-height: 300px;"></div>
  </div>

  <div class="col-md-6 col-sm-12 col-12 mt-1">
    <div id="best-months" style="min-height: 300px;"></div>
  </div>
</div>

<div class="row mx-0 my-3 chart-monexm card-azul-hrg card-outline">
  <div class="col-md-4 col-sm-12 col-12 mt-1">
    <div id="most-rooms" style="min-height: 300px;"></div>
  </div>
  <div class="col-md-8 col-sm-12 col-12 mt-1">
    <div id="cirurgias-horarios" style="min-height: 300px;"></div>
  </div>
</div>

<div class="row mx-0 my-3 chart-monexm card-azul-hrg card-outline">
  <div class="col-md-6 col-sm-12 col-12 mt-1">
    <div id="procedimentos-porte" style="min-height: 300px;"></div>
  </div>
  <div class="col-md-6 col-sm-12 col-12 mt-1">
    <div id="procedimentos-convenio" style="min-height: 300px;"></div>
  </div>
</div>