<tr>
  <td class="{{horario-cor}}" data-order="{{horario-order}}">{{horario}}</td>
  <td>{{sala}}</td>
  <td>
    {{paciente}}
    <br>
    <span class="badge bg-azul-esverdeado" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Convênio">{{convenio}}</span>
  </td>
  <td>{{medico}}</td>
  <td class="text-break">
    {{procedimento}}
    <br>
    <span class="badge bg-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Internação">{{internacao}}</span>
  </td>
</tr>