<div class="text-left">
  <div class="d-flex justify-content-between">
    <label for="select-convenios" class="ps-0">Convênios</label>
    <div class="form-check text-left ps-4">
      <input class="form-check-input" type="checkbox" value="" id="checkAllConvenios">
      <label class="form-check-label" for="checkAllConvenios">
        Seleciconar todos
      </label>
    </div>
  </div>
  <select id="select-convenios" data-placeholder="Selecione os convênios">
    {{options}}
  </select>
  <button class="btn btn-dark col-md-12 justify-content-between" id="search-azophicc" type="button">Buscar</button>
</div>