<div class="col-12 mw-25 mb-2 py-0">
    <div class="info-box shadow-none my-0 text-sm-sm">
        <span class="info-box-icon bg-azul-esverdeado text-white d-flex flex-column">
            <i class="fas fa-bed"></i>
            <span class="info-box-text text-sm text-wrap">{{leito}}</span>
        </span>
        <div class="info-box-content justify-content-center d-flex flex-column" style="padding-top: 0 !important; padding-bottom: 0 !important; ">
            <span class="info-box-number">{{nome}}</span>
            <div class="d-flex justify-content-between flex-wrap">
                <span class="info-box-text">{{idade}}</span>
                <span class="info-box-text"><span class="badge bg-azul-esverdeado" data-bs-toggle="tooltip"
                        data-bs-placement="top" title="Convênio">{{convenio}}</span></span>
                <span class="info-box-text">{{dias-internados}}</span>
            </div>
            <span class="info-box-text text-wrap">{{medico}}</span>
        </div>
    </div>
</div>