{{status}}
<div class="mx-auto d-flex align-items-center justify-content-center">
  <div class="bg-white d-flex flex-column justify-content-start mx-4" style="height: 30rem;">

    <div class="text-center mb-4 mt-5">
      <a href="{{URL}}"><img class="w-75" src="{{URL}}/resources/img/central-servicos.png" alt="Central de Serviço"></a>
    </div>

    <div class="mx-3 d-flex justify-content-center flex-fill flex-wrap">
      <form method="post" class="col-10 d-flex flex-column justify-content-evenly">
        <div>
          <div class="mt-1 d-flex flex-column">
            <label for="inputAntigaSenha" class="mb-0 label-login">Senha Antiga</label>
            <input type="password" id="inputAntigaSenha" name="senha-antiga" class="input-login px-0" required>
          </div>
          <div class="mt-1 d-flex flex-column">
            <label for="inputSenha" class="mb-0 label-login">Nova Senha</label>
            <input type="password" id="inputSenha" name="senha" class="input-login px-0" required>
          </div>
          <div class="my-2 d-flex flex-column">
            <label for="inputConfirmSenha" class="mb-0 label-login">Confirme a nova senha</label>
            <input type="password" id="inputConfirmSenha" name="senha-confirmar" class="input-login px-0" required>
          </div>
        </div>

        <div class="text-start">
          <button type="submit" class="button-login w-100">Alterar</button>
        </div>
      </form>
    </div>

  </div>
</div>