<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center mb-3">
                            <img class="profile-user-img img-fluid img-circle"
                                src="{{URL}}/resources/img/man-icon-png.png"
                                alt="User profile picture">
                            <h3 class="profile-username text-center mb-0">{{nome}} </h3>
                            <span class="badge bg-danger">Administrador</span>
                        </div>
                        <p class="text-muted text-center cpf">{{cpf}}</p>
                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>No sistema desde</b> <span class="float-right">{{data}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>