<div class="col mb-2">
    <div class="small-box bg-navy mb-0 h-100 d-flex align-items-center">
        <div class="inner">
            <h5 class="mb-0 fw-bold">Não atendidos</h5>
            <p class="mb-0">{{solicitacoes-aberto}}</p>
        </div>
        <div class="inner">
            <h5 class="mb-0 fw-bold">ENF</h5>
            <p class="mb-0">{{solicitacoes-aberto-enf}}</p>
        </div>
        <div class="inner">
            <h5 class="mb-0 fw-bold">APTO</h5>
            <p class="mb-0">{{solicitacoes-aberto-apt}}</p>
        </div>
        <div class="inner">
            <h5 class="mb-0 fw-bold">UTI</h5>
            <p class="mb-0">{{solicitacoes-aberto-uti}}</p>
        </div>
        <div class="icon icon-small text-light">
            <i class="fas fa-times" style="font-size: 2rem;"></i>
        </div>
    </div>
</div>
<div class="col mb-2">
    <div class="small-box bg-navy mb-0 h-100 d-flex align-items-center">
        <div class="inner">
            <h5 class="mb-0 fw-bold">Em preparo</h5>
            <p class="mb-0">{{solicitacoes-preparo}}</p>
        </div>
        <div class="inner">
            <h5 class="mb-0 fw-bold">ENF</h5>
            <p class="mb-0">{{solicitacoes-preparo-enf}}</p>
        </div>
        <div class="inner">
            <h5 class="mb-0 fw-bold">APTO</h5>
            <p class="mb-0">{{solicitacoes-preparo-apt}}</p>
        </div>
        <div class="inner">
            <h5 class="mb-0 fw-bold">UTI</h5>
            <p class="mb-0">{{solicitacoes-preparo-uti}}</p>
        </div>
        <div class="icon icon-small text-light">
            <i class="fas fa-play" style="font-size: 2rem;"></i>
        </div>
    </div>
</div>