<tr>
    <td style="padding-left: 0.5rem" align="center">
        <a href="gestaoleitos/solicitacao/{{id-solicitacao}}">
            {{id-solicitacao}}
        </a>
    </td>
    <td align="center">
        {{registro-paciente}}
    </td>
    <td style="padding-left: 0.5rem" align="center">
        {{nome-paciente}}
    </td>
    <td align="center">{{data-hora-registro}}</td>
    <td style="margin-top: 50px;">{{nome-setor-solicitante}}</td>
    <td>{{tipo-de-leito}}</td>
    <td>{{status-solicitacao}}</td>
    <td align="center">{{unidade-liberada}}</td>
    <td align="center">{{compativel}}</td>
    <td align="center">
        <button type="button" data-toggle="modal" class="btn btn-outline-primary toggle"
            data-target="{{id-solicitacao}}" onclick="showModalDescricao(this)"><i class="fas fa-eye"></i></button>
        <input type="hidden" id="perm_atd" value="{{perms}}">
    </td>
</tr>