

  <!-- <style>
    #questionarios tbody tr:hover {
      background-color: #d7d7d7;
    }
  </style> -->
  <section class="content p-5">
    <div class="container-fluid">
      <main>
        <div class="col-md-12 d-flex">
          <div class="col-md-9 mt-4 mx-auto">
            <div class="row justify-content-left itens-container">

              <div class="col-xl-4 col-lg-5 col-md-5 col-sm-12">
                <a style="cursor: pointer;" class="text-dark" id="start_quest">
                  <div class="info-box">
                    <span class="info-box-icon bg-primary elevation-1"><i class="fas fa-play"></i></span>
                    <div class="info-box-content">
                      <span class="info-box-text">Iniciar</span>
                      <span class="info-box-number">Questionário</span>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col-xl-4 col-lg-5 col-md-5 col-sm-12">
                <a href="{{URL}}/avasis/categorias" class="text-dark">
                  <div class="info-box">
                    <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-clipboard-list-check"></i></span>
                    <div class="info-box-content">
                      <span class="info-box-text">Gerenciar</span>
                      <span class="info-box-number">Categorias</span>
                    </div>
                    <!-- /.info-box-content -->
                  </div>
                  <!-- /.info-box -->
                </a>
              </div>

              <div class="col-xl-4 col-lg-5 col-md-5 col-sm-12">
                <a href="{{URL}}/avasis/perguntas" class="text-dark">
                  <div class="info-box">
                    <span class="info-box-icon bg-success elevation-1"><i class="fas fa-clipboard-list-check"></i></span>
                    <div class="info-box-content">
                      <span class="info-box-text">Gerenciar</span>
                      <span class="info-box-number">Perguntas</span>
                    </div>
                    <!-- /.info-box-content -->
                  </div>
                  <!-- /.info-box -->
                </a>
              </div>

              <div class="col-xl-4 col-lg-5 col-md-5 col-sm-12">
                <a href="{{URL}}/avasis/questionarios" class="text-dark">
                  <div class="info-box">
                    <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-clipboard-list-check"></i></span>
                    <div class="info-box-content">
                      <span class="info-box-text">Gerenciar</span>
                      <span class="info-box-number">Questionários</span>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col-xl-4 col-lg-5 col-md-5 col-sm-12">
                <a href="{{URL}}/avasis/unidades" class="text-dark">
                  <div class="info-box">
                    <span class="info-box-icon bg-info elevation-1"><i class="fas fa-hospital-alt"></i></span>
                    <div class="info-box-content">
                      <span class="info-box-text">Gerenciar</span>
                      <span class="info-box-number">Unidades</span>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col-xl-4 col-lg-5 col-md-5 col-sm-12">
                <a href="{{URL}}/avasis/relatorios" class="text-dark">
                  <div class="info-box">
                    <span class="info-box-icon bg-purple elevation-1"><i class="fas fa-chart-line"></i></span>
                    <div class="info-box-content">
                      <span class="info-box-text">Gerenciar</span>
                      <span class="info-box-number">Relatórios</span>
                    </div>
                  </div>
                </a>
              </div>


              <!-- <div class="col-xl-4 col-lg-5 col-md-5 col-sm-12">
                    <a href="central_funcionario.php" class="text-dark">
                      <div class="info-box">
                        <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-user-cog"></i></span>
                        <div class="info-box-content">
                          <span class="info-box-text">Gerenciar</span>
                          <span class="info-box-number">Questionários</span>
                        </div>
                      </div>
                    </a>
                  </div> -->

            </div>
          </div>
        </div>
    </div>
    </main>
    </div><!-- /.container-fluid -->
  </section>
  <div id="start"></div>