<div
    class="hold-transition sidebar-mini sidebar-collapse layout-footer-fixed layout-navbar-fixed layout-fixed accent-blue">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="margin-left: 0 !important;">
        <!-- Content Header (Page header) -->
        <div class="content-header" style="border-bottom: solid 1px gray;">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0"><i class="fas fa-search-location"></i> MonLogin</h1>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div>
        </div>

        <section class="my-1 col-12 mx-auto">
            <div class="row my-2 mx-0 col-12">
                <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-12 mx-auto text-left">
                    <label for="monlogin-user-login">Informe o login do usuário</label>
                    <input type="text" placeholder="Digite o login do usuário"
                        class="form-control text-center cursor-pointer col-md-12 bg-white" autocomplete="off" required
                        id="monlogin-user-login" />
                    <button class="btn btn-dark col-md-12 justify-content-between mt-2" id="search-monlogin"
                        type="button">Buscar</button>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12" id="monlogin-user-login-table"></div>
            </div>
        </section>
    </div>
</div>