<div class="col-md-10 col-12 col-sm-12 col-lg-10 col-xl-10 mx-auto px-0 card card-azul-hrg card-outline">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Data hora</th>
                    <th class="text-center">Módulo</th>
                    <th class="text-center">Login</th>
                    <th class="text-center">Equipamento</th>
                    <th class="text-center">Nome</th>
                    <th class="text-center">Nome completo</th>
                    <th class="text-center">Sessão</th>
                </tr>
            </thead>
            <tbody>
                {{linhas-tabela}}
            </tbody>
        </table>
    </div>
</div>