<div class="row justify-content-around">

    <div class="col-2 mb-2">
        <div class="small-box bg-navy mb-0 h-100 d-flex justify-content-around">
            <div class="inner">
                <h5 class="mb-0 fw-bold">Aberto</h5>
                <p class="mb-0 text-center">{{manifestacoes-aberto}}</p>
            </div>
            <!-- <div class="inner">
                <h5 class="mb-0 fw-bold">Elogio</h5>
                <p class="mb-0 text-center">{{manifestacoes-aberto-elogio}}</p>
            </div>
            <div class="inner">
                <h5 class="mb-0 fw-bold">Reclamação</h5>
                <p class="mb-0 text-center">{{manifestacoes-aberto-reclamacao}}</p>
            </div>
            <div class="inner">
                <h5 class="mb-0 fw-bold">Solicitação</h5>
                <p class="mb-0 text-center">{{manifestacoes-aberto-solicitacao}}</p>
            </div>
            <div class="inner">
                <h5 class="mb-0 fw-bold">Informação</h5>
                <p class="mb-0 text-center">{{manifestacoes-aberto-informacao}}</p>
            </div>
            <div class="inner">
                <h5 class="mb-0 fw-bold">Sugestão</h5>
                <p class="mb-0 text-center">{{manifestacoes-aberto-sugestao}}</p>
            </div>
            <div class="inner">
                <h5 class="mb-0 fw-bold">Crítica/Comentário</h5>
                <p class="mb-0 text-center">{{manifestacoes-aberto-critica}}</p>
            </div>
            <div class="inner">
                <h5 class="mb-0 fw-bold">Denúncia</h5>
                <p class="mb-0 text-center">{{manifestacoes-aberto-denuncia}}</p>
            </div> -->
        </div>
    </div>

    <div class="col-2 mb-2">
        <div class="small-box bg-navy mb-0 h-100 d-flex justify-content-around">
            <div class="inner">
                <h5 class="mb-0 fw-bold">Processamento</h5>
                <p class="mb-0 text-center">{{manifestacoes-processamento}}</p>
            </div>
            <!-- <div class="inner">
                <h5 class="mb-0 fw-bold">Elogio</h5>
                <p class="mb-0 text-center">{{manifestacoes-processamento-elogio}}</p>
            </div>
            <div class="inner">
                <h5 class="mb-0 fw-bold">Reclamação</h5>
                <p class="mb-0 text-center">{{manifestacoes-processamento-reclamacao}}</p>
            </div>
            <div class="inner">
                <h5 class="mb-0 fw-bold">Solicitação</h5>
                <p class="mb-0 text-center">{{manifestacoes-processamento-solicitacao}}</p>
            </div>
            <div class="inner">
                <h5 class="mb-0 fw-bold">Informação</h5>
                <p class="mb-0 text-center">{{manifestacoes-processamento-informacao}}</p>
            </div>
            <div class="inner">
                <h5 class="mb-0 fw-bold">Sugestão</h5>
                <p class="mb-0 text-center">{{manifestacoes-processamento-sugestao}}</p>
            </div>
            <div class="inner">
                <h5 class="mb-0 fw-bold">Crítica/Comentário</h5>
                <p class="mb-0 text-center">{{manifestacoes-processamento-critica}}</p>
            </div>
            <div class="inner">
                <h5 class="mb-0 fw-bold">Denúncia</h5>
                <p class="mb-0 text-center">{{manifestacoes-processamento-denuncia}}</p>
            </div> -->
        </div>
    </div>

    <div class="col-2 mb-2">
        <div class="small-box bg-navy mb-0 h-100 d-flex justify-content-around">
            <div class="inner">
                <h5 class="mb-0 fw-bold">Finalizadas</h5>
                <p class="mb-0 text-center">{{manifestacoes-finalizadas}}</p>
            </div>
        </div>
    </div>

    <div class="col-2 mb-2">
        <div class="small-box bg-navy mb-0 h-100 d-flex justify-content-around">
            <div class="inner">
                <h5 class="mb-0 fw-bold">Canceladas</h5>
                <p class="mb-0 text-center">{{manifestacoes-canceladas}}</p>
            </div>
        </div>
    </div>

</div>