<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"><i class="fas fa-th mr-1"></i> Manifestações</h3>
            </div>
            <div class="card-body table-responsive">
                <table id="ouvimed-tabela-manifestacoes" class="table table-hover table-sm cell-border">
                    <thead class='font_table_solic'>
                        <tr>
                            <th>Protocolo</th>
                            <th>Autor</th>
                            <th>Paciente</th>
                            <th>Registro</th>
                            <th>Data/Hora manifestação</th>
                            <th>Veículo</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody class='font_table_solic'></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<style>
    #ouvimed-tabela-manifestacoes tbody tr {
        cursor: pointer;
    }
</style>