<div class="hold-transition sidebar-mini sidebar-collapse layout-footer-fixed layout-navbar-fixed layout-fixed accent-blue">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="margin-left: 0 !important;">
    <!-- Content Header (Page header) -->
    <div class="content-header" style="border-bottom: solid 1px gray;">
      <div class="container-fluid">
        <div class="row py-1">
          <div class="col-sm-6 h-100">
            <h1 class="m-0"><i class="fas fa-file-medical-alt"></i> Monitoramento Exames</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div>
    </div>
    <section class="my-1">
      <div class="row my-2 mx-0 col-12">
        <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-12 mx-auto text-center">
          <label for="calendar-monex">Selecione as datas desejadas</label>
          <div class="input-group mb-3">
            <input type="text" id="startDateMonexm" placeholder="Selecione a data inicial" class="form-control text-center cursor-pointer col-md-12 bg-white" autocomplete="off" required value="" />
            <input type="text" id="endDateMonexm" placeholder="Selecione a data final" class="form-control text-center cursor-pointer col-md-12 bg-white" autocomplete="off" required>
            <button class="btn btn-dark" id="search-calendar-monxem"><i class="far fa-search"></i></button>
          </div>
        </div>
      </div>
    </section>
    <section class="os-modal-container"></section>
    <section class="my-0 container-monexm">
    </section>
  </div><!-- /.container-fluid -->
</div>