<div class="col p-1" style="min-width: 300px;">
  <div class="info-box bg-azul-esverdeado text-white mb-0">
    <span class="info-box-icon" style="width: 60px;"><i class="fas fa-briefcase-medical"></i></span>

    <div class="info-box-content">
      <span class="info-box-text fw-bold ps-1">Entrada</span>
      <span class="progress-description">
        <div class="row">
          <div class="col-12" data-fila="900250">
            <h5 style="font-size: 0.85rem;" class="mb-0 fw-bold ps-1">Triagem</h5>
            <span class="col-12 d-flex badge {{cor-triagem}}">
              <div class="col-6 text-start ps-0">
                <span class="text-center mb-0 fw-bold">{{paciente-triagem}}</span>
                <span class="text-center">Paciente(s)</span>
              </div>
              <div class="col-6 text-start ps-0">
                <span class="text-center mb-0 fw-bold">{{tempo-triagem}}</span>
                <span class="text-center">Minuto(s)</span>
              </div>
            </span>
          </div>
          <div class="col-12" data-fila="900197">
            <h5 style="font-size: 0.85rem;" class="mb-0 fw-bold ps-1">Recepção</h5>
            <span class="col-12 d-flex badge {{cor-recepcao}}">
              <div class="col-6 text-start ps-0">
                <span class="text-center mb-0 fw-bold">{{paciente-recepcao}}</span>
                <span class="text-center">Paciente(s)</span>
              </div>
              <div class="col-6 text-start ps-0">
                <span class="text-center mb-0 fw-bold">{{tempo-recepcao}}</span>
                <span class="text-center">Minuto(s)</span>
              </div>
            </span>
          </div>
        </div>
      </span>
    </div>
    <!-- /.info-box-content -->
  </div>
  <!-- /.info-box -->
</div>
<div class="col p-1" style="min-width: 300px;">
  <div class="info-box bg-azul-esverdeado text-white mb-0">
    <span class="info-box-icon" style="width: 60px;"><i class="fas fa-user-md"></i></span>

    <div class="info-box-content">
      <span class="info-box-text fw-bold ps-1">Clínica Médica</span>
      <span class="progress-description">
        <div class="row" data-fila="900290">
          <div class="col-12">
            <h5 style="font-size: 0.85rem;" class="mb-0 fw-bold ps-1">1º Atendimento</h5>
            <span class="col-12 d-flex badge {{cor-clinica}}">
              <div class="col-6 text-start ps-0">
                <span class="text-center mb-0 fw-bold">{{paciente-clinica}}</span>
                <span class="text-center">Paciente(s)</span>
              </div>
              <div class="col-6 text-start ps-0">
                <span class="text-center mb-0 fw-bold">{{tempo-clinica}}</span>
                <span class="text-center">Minuto(s)</span>
              </div>
            </span>
          </div>
          <div class="col-12">
            <h5 style="font-size: 0.85rem;" class="mb-0 fw-bold ps-1">Reavaliação</h5>
            <span class="col-12 d-flex badge {{re-cor-clinica}}">
              <div class="col-6 text-start ps-0">
                <span class="text-center mb-0 fw-bold">{{re-paciente-clinica}}</span>
                <span class="text-center">Paciente(s)</span>
              </div>
              <div class="col-6 text-start ps-0">
                <span class="text-center mb-0 fw-bold">{{re-tempo-clinica}}</span>
                <span class="text-center">Minuto(s)</span>
              </div>
            </span>
          </div>
        </div>
      </span>
    </div>
    <!-- /.info-box-content -->
  </div>
  <!-- /.info-box -->
</div>
<div class="col p-1" style="min-width: 300px;">
  <div class="info-box bg-azul-esverdeado text-white mb-0">
    <span class="info-box-icon" style="width: 60px;"><i class="fas fa-heart-rate"></i></span>

    <div class="info-box-content">
      <span class="info-box-text fw-bold ps-1">Cardiologia</span>
      <span class="progress-description">
        <div class="row" data-fila="900288">
          <div class="col-12">
            <h5 style="font-size: 0.85rem;" class="mb-0 fw-bold ps-1">1º Atendimento</h5>
            <span class="col-12 d-flex badge {{cor-cardiologia}}">
              <div class="col-6 text-start ps-0">
                <span class="text-center mb-0 fw-bold">{{paciente-cardiologia}}</span>
                <span class="text-center">Paciente(s)</span>
              </div>
              <div class="col-6 text-start ps-0">
                <span class="text-center mb-0 fw-bold">{{tempo-cardiologia}}</span>
                <span class="text-center">Minuto(s)</span>
              </div>
            </span>
          </div>
          <div class="col-12">
            <h5 style="font-size: 0.85rem;" class="mb-0 fw-bold ps-1">Reavaliação</h5>
            <span class="col-12 d-flex badge {{re-cor-cardiologia}}">
              <div class="col-6 text-start ps-0">
                <span class="text-center mb-0 fw-bold">{{re-paciente-cardiologia}}</span>
                <span class="text-center">Paciente(s)</span>
              </div>
              <div class="col-6 text-start ps-0">
                <span class="text-center mb-0 fw-bold">{{re-tempo-cardiologia}}</span>
                <span class="text-center">Minuto(s)</span>
              </div>
            </span>
          </div>
        </div>
      </span>
    </div>
    <!-- /.info-box-content -->
  </div>
  <!-- /.info-box -->
</div>
<div class="col p-1" style="min-width: 300px;">
  <div class="info-box bg-azul-esverdeado text-white mb-0">
    <span class="info-box-icon" style="width: 60px;"><i class="fas fa-skeleton"></i></span>

    <div class="info-box-content">
      <span class="info-box-text fw-bold ps-1">Ortopedia</span>
      <span class="progress-description">
        <div class="row" data-fila="900289">
          <div class="col-12">
            <h5 style="font-size: 0.85rem;" class="mb-0 fw-bold ps-1">1º Atendimento</h5>
            <span class="col-12 d-flex badge {{cor-ortopedia}}">
              <div class="col-6 text-start ps-0">
                <span class="text-center mb-0 fw-bold">{{paciente-ortopedia}}</span>
                <span class="text-center">Paciente(s)</span>
              </div>
              <div class="col-6 text-start ps-0">
                <span class="text-center mb-0 fw-bold">{{tempo-ortopedia}}</span>
                <span class="text-center">Minuto(s)</span>
              </div>
            </span>
          </div>
          <div class="col-12">
            <h5 style="font-size: 0.85rem;" class="mb-0 fw-bold ps-1">Reavaliação</h5>
            <span class="col-12 d-flex badge {{re-cor-ortopedia}}">
              <div class="col-6 text-start ps-0">
                <span class="text-center mb-0 fw-bold">{{re-paciente-ortopedia}}</span>
                <span class="text-center">Paciente(s)</span>
              </div>
              <div class="col-6 text-start ps-0">
                <span class="text-center mb-0 fw-bold">{{re-tempo-ortopedia}}</span>
                <span class="text-center">Minuto(s)</span>
              </div>
            </span>
          </div>
        </div>
      </span>
    </div>
    <!-- /.info-box-content -->
  </div>
  <!-- /.info-box -->
</div>