<div class="mt-4 row justify-content-center">
    <div class="card mx-1 p-0" style="width: 18rem;">
        <div class="card-header bg-cardapio text-white">
            {{dia}}
        </div>
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action cardapio-list justify-content-between d-flex m-0"
                data-id="{{id}}">
                {{nome}}
                <span class="m-0 text-success"><i class="fas fa-check-circle"></i></span>
                {{sucess}}
                {{error}}
                <span class="m-0 text-danger"><i class="fas fa-times-circle"></i></span>
            </a>
        </div>
    </div>
</div>