<div
  class="hold-transition sidebar-mini sidebar-collapse layout-footer-fixed layout-navbar-fixed layout-fixed accent-blue">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="margin-left: 0 !important;">
    <!-- Content Header (Page header) -->
    <div class="content-header mb-3">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">
              <i class="fas fa-users mr-1"></i>
              Perfis
            </h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a class="text-light text-decoration-underline"
                  href="{{URL}}/inutri">Início</a></li>
              <li class="breadcrumb-item active">Perfis</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <main class="card card-navy card-outline">
          <div class="card-body">

            <div id="divPerfil"></div>
            <form onsubmit="event.preventDefault()" class="col-md-12 form-perfil mt-2 ">
              <div class="table-responsive">

                <table id="table-perfil" class="table table-perfil">
                  <thead>
                    <tr>
                      <th class="pl-2" style="width: 7%;">Status</th>
                      <th style="width: 7%;">Padronizado</th>
                      <th class="ps-2">Nome</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{perfis}}
                  </tbody>
                </table>
              </div>
              <div class="form-group">
                <button type="button" name="submit" class="btn btn-primary btn-add">Adicionar</button>
              </div>
            </form>
          </div>
        </main>
      </div>
    </section>
  </div>
  <!-- /.content -->
</div>