<div
  class="hold-transition sidebar-mini sidebar-collapse layout-footer-fixed layout-navbar-fixed layout-fixed accent-blue">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="margin-left: 0 !important;">
    <!-- Content Header (Page header) -->
    <div class="content-header" style="border-bottom: solid 1px gray;">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0"><i class="fal fa-soup mr-1"></i></i>Nutrição</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div>
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="col-md-12 d-flex">
          <div class="col-md-9 mt-4 mx-auto">
            <div class="row justify-content-left itens-container">

              {{solicitar-minha-refeicao}}
              {{solicitar-paciente}}
              {{solicitar-terceiros}}

              <div class="col-xl-4 col-lg-5 col-md-5 col-sm-12">
                <a href="inutri/pedidos" class="text-dark">
                  <div class="info-box">
                    <span class="info-box-icon bg-primary elevation-1"><i
                        class="fas fa-clipboard-list-check"></i></span>
                    <div class="info-box-content">
                      <span class="info-box-text">Gerenciar</span>
                      <span class="info-box-number">Solicitações</span>
                    </div>
                    <!-- /.info-box-content -->
                  </div>
                  <!-- /.info-box -->
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
  </div><!-- /.container-fluid -->
</div>