<div
	class="hold-transition sidebar-mini sidebar-collapse layout-footer-fixed layout-navbar-fixed layout-fixed accent-blue">
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper" style="margin-left: 0 !important;">

		<!-- Content Header (Page header) -->
		<div class="content-header" style="border-bottom: solid 1px gray;">
			<div class="container-fluid">
				<div class="row py-1">
					<div class="col-sm-6">
						<h1 class="m-0"><i class="fas fa-tools mr-1"></i></i>Painel administrativo</h1>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div>
		</div>
		<!-- /.content-header -->
		<!-- Main content -->
		<section class="content">
			<div class="container-fluid">
				<div class="col-md-12 d-flex">
					<div class="col-md-9 mt-4 mx-auto">
						<div class="row justify-content-left itens-container">

							<div class="col-xl-4 col-lg-5 col-md-5 col-sm-12">
								<a href="admin/usuario" class="text-dark">
									<div class="info-box">
										<span class="info-box-icon bg-azul-esverdeado text-white elevation-1"><i
												class="fas fa-user"></i></span>
										<div class="info-box-content">
											<span class="info-box-number">Usuário</span>
											<span class="info-box-text">Gerenciar usuários</span>
										</div>
										<!-- /.info-box-content -->
									</div>
									<!-- /.info-box -->
								</a>
							</div>

							<div class="col-xl-4 col-lg-5 col-md-5 col-sm-12">
								<a href="admin/perfil" class="text-dark">
									<div class="info-box">
										<span class="info-box-icon bg-azul-esverdeado text-white elevation-1"><i
												class="fas fa-user-tag"></i></span>
										<div class="info-box-content">
											<span class="info-box-number">Perfil</span>
											<span class="info-box-text">Gerenciar perfis</span>
										</div>
										<!-- /.info-box-content -->
									</div>
									<!-- /.info-box -->
								</a>
							</div>

							<div class="col-xl-4 col-lg-5 col-md-5 col-sm-12">
								<a href="admin/permissao" class="text-dark">
									<div class="info-box">
										<span class="info-box-icon bg-azul-esverdeado text-white elevation-1"><i
												class="fas fa-clipboard-list"></i></span>
										<div class="info-box-content">
											<span class="info-box-number">Permissao</span>
											<span class="info-box-text">Gerenciar permissoes</span>
										</div>
										<!-- /.info-box-content -->
									</div>
									<!-- /.info-box -->
								</a>
							</div>

							<div class="col-xl-4 col-lg-5 col-md-5 col-sm-12">
								<a href="admin/sistemas" class="text-dark">
									<div class="info-box">
										<span class="info-box-icon bg-azul-esverdeado text-white elevation-1"><i
												class="fas fa-cogs"></i></span>
										<div class="info-box-content">
											<span class="info-box-number">Sistemas</span>
											<span class="info-box-text">Gerenciar sistemas</span>
										</div>
										<!-- /.info-box-content -->
									</div>
									<!-- /.info-box -->
								</a>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>
	</div><!-- /.container-fluid -->
</div>