<div class="modal fade" id="modalOuvidoria" tabindex="-1" aria-labelledby="modalOuvidoriaLabel" aria-hidden="true" data-bs-backdrop="static" >
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalOuvidoriaLabel">Encaminhe um e-mail para ouvidoria</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form onsubmit="return false;" method="POST">
        <div class="modal-body pb-0">
          <div class="form-row">
            <div class="form-group col-12">
              <label for="nome">Nome</label>
              <input type="text" name="nome" id="nome" class="form-control" required>
            </div>
            <div class="form-group col-12">
              <label for="email">Email</label>
              <input type="email" name="email" id="email" class="form-control" required>
            </div>
            <div class="form-group col-12">
              <label for="contato">Contato</label>
              <input type="tel" name="contato" id="contato" class="form-control" required>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12">
              <label for="mensagem">Mensagem</label>
              <textarea class="form-control" name="mensagem" id="mensagem" rows="4" required></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" id="submit-form-ouvidoria" class="btn btn-primary" onclick="">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>