<div class="{{responsive-classes}}" style="padding: 0.15rem;" data-bs-toggle="tooltip" data-bs-placement="top"
    title="Leito {{tipo-leito}}">
    <a id="gleitos-{{leito-codigo}}"
        class="btn btn-app bg-{{color}} m-0 w-100 h-100 d-flex align-items-center flex-column justify-content-center gleitos-leito"
        style="max-height: 70px;">
        <div class="d-flex">
            <i class="fas fa-{{icon}} pe-1 border-end"></i><i class="{{icon-tipo-leito}} ms-1"></i>
        </div>
        <span style="line-height: 15px; margin-top: 3px;">{{leito}}</span>
    </a>
</div>